.button {
	display: block;
	width: 100%;

	font-size: 16px;
	padding: 6px 16px;

	border: none;
	border-radius: 8px;
	background-color: rgb(227, 223, 255);
	cursor: pointer;
	margin: 0 auto;

	&:hover {
		background-color: rgb(216, 211, 255);
		transition: 0.5s;
	}
}
