.game {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	text-align: center;
	width: 100%;

	.panel {
		background-color: white;
		padding: 20px;
		border-radius: 10px;

		.result {
			padding: 5px;
			border-radius: 5px;
			border: 1px solid rgb(227, 223, 255);
			font-size: 16px;

			.win {
				color: green;
			}

			.lose {
				color: red;
			}

			& ~ * {
				margin-top: 10px;
			}
		}

		& + * {
			margin-top: 10px;
		}

		.active-button-mobile {
			background-color: rgb(171, 173, 234);
		}
	}
}
